<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="style.css">
<!-- google material -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <div class="container-flui">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <span class="material-symbols-outlined">storefront</span>
          <a class="navbar-brand" href="#">Toko Kita</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline ml-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav my-2 my-lg-0">
              <li class=" dropdown nav-item position-relative">
                <a class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-expanded="true" >
                <span class="material-symbols-outlined">shopping_cart</span>
                <span class="badge badge-pill badge-danger position-absolute" style="top: -3px; right: 0;" v-if="cart.length > 0"><span>{{ totalQty }}</span></span>
                </a>
                <ul v-show="cart.length > 0" class="dropdown-menu dropdown-menu-right">
                  <li v-for="item in cart" class="d-flex flex-row justify-content-between mb-3">
                    <img :src="item.product.image" style="height: 40px; width: 40px; object-fit: scale-down;" alt="...">
                    <div class="text-truncate mx-2" style="width: 150px;">{{ item.product.title }}</div>
                    <div class="text-truncate mx-2">{{ item.qty }} x </div>
                    <div class="mx-2" style="width: 100px;">{{ item.product.price | currencyFormat}}</div>
                    <div class="mx-2" style="width: 100px;">{{ item.product.price * item.qty | currencyFormat }}</div>
                  </li>
                  <b>Total Belanja : {{calculateItem}}</b>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="material-symbols-outlined">notifications</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  <span class="material-symbols-outlined">person</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Setting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </li>
            </ul>
            
          </div>
        </nav>

        <!-- product -->
        <div class="d-flex flex-wrap align-item-center">
          <div v-for="item in products" :key="item.id" class="card col-2 my-1 mx-1">
            <a href="#" class="card-body text-dark text-decoration-none">
              <img :src="item.image" referrerpolicy="no-referrer" class="card-img-top mb-2 " style="height: 150px; object-fit: scale-down;" alt="...">
              <p href="#" class="card-title text-truncate" >{{ item.title }}</p>
              <h5 class="card-text mt-auto">{{ item.price | currencyFormat}}</h5>
            </a>
            <button type="button" class="btn btn-success mb-sm-2" v-on:click="addCart(item)">
              <span class="material-symbols-outlined" style="vertical-align: middle;">shopping_cart</span>
              <span style="vertical-align: middle;">Buy</span>
            </button>
          </div>
        </div>
      </div>      
    </div>    
      
    <!-- Optional JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>
